@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Marcellus&display=swap');


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}

:root {
  --primary-green:#3e7104;
  --primary-blue: #083D5F;
  --primary-text: #141414;
  --background-color: #ffffff;
  --footer-background: linear-gradient(to top, rgba(72, 172, 238, 0.596) 35%, rgba(190, 233, 247, 0.445) 100%)
  
}

* {
  font-family: "Manrope", sans-serif;
}

.App {
  background-color: var(--secondary-color);
}

.primaryColor {
  color: var(--primary-color);
}

.centeredH1 {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  color: var(--primary-lite-color);
}

.experience-heading {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  color: var(--primary-lite-color);
}

.lists {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 10px;
}

.experience-title {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
}

.experience-card {
  background-color: var(--primary-lite-color);
  padding: 20px;
  border-radius: 20px;
  min-height: 300px;
  transition: background-color 0.3s ease;

}

.experience-card:hover {
  background-color: var(--primary-color);
}

.experience-card:hover .experience-title {
  color: var(--primary-lite-color);
  transition: background-color 0.3s ease;

}

.experience-card:hover .experience-description {
  color: var(--secondary-color);
  transition: background-color 0.3s ease;

}



.experience-description {
  font-size: 18px;
}

.serviceTitle {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: bold;
}

.serviceDescription {
  margin: 10px 0 20px 0;
  color: var(--primary-color);
  font-size: 24px;
}


.services-image-container {
  position: relative;
  border: 5px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 20px 0 20px 0;
}

.services-image {
  border-radius: 20px 0 20px 0;
  filter: brightness(30%);
}

.services-text {
  position: absolute;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
}

/* home */
.menu_link,
#navbarScrollingDropdown {
  color: var(--primary-blue) !important;
  font-weight: 400 ;
}

.menu_link:hover,
#navbarScrollingDropdown:hover,
.nav-link.active,  .dropdown-toggle .nav-link:active {
  color: var(--primary-green) !important ;
}

.dropdown-item.active{
  background: transparent !important;
  color: var(--primary-green) !important ;
}

.carousel-image {
  width: 100%;
  height: 100vh;
  filter: brightness(50%);
}



.carousel-item-container {
  position: relative;
}

.carousel-item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-50px);

  color: var(--secondary-color);
  padding: 10px;
  text-align: center;
  opacity: 0;

  transition: opacity 0.5s ease, transform 0.5s ease;
}

.carousel-item-content.active {
  opacity: 4;
  /* Set opacity to 1 for the active slide */
  transform: translate(-50%, -50%) translateY(0);
  /* Translate to center after animation */
}

.carousel-item.active .carousel-item-content .animated-text {
  animation: slideIn 0.5s ease forwards;
  font-size: 32px;
  /* Apply animation only for the active slide */
}


@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-container {
  position: relative;
}

.container-image {
  filter: brightness(30%);
}

.text-content {
  text-wrap: wrap;
  text-align: start; 
}

.appointment_btn {
  color: var(--primary-green);
  border-radius: 5px;
  border: 1px solid var(--primary-green) !important;
  background-color: white;
  outline: none;
  padding: 2%;
}

.appointment_btn:hover {
  background-color: var(--primary-green) !important;
  color: white;
}

.legal_information {
  height: auto;
  background: linear-gradient(to top, rgba(146, 204, 243, 0.596) 35%, rgba(190, 233, 247, 0.445) 100%);
}

.legal_title {
  font-size: 26px;
  color: var(--primary-green);
}

.legal_content {
  font-size: 16px !important;
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
  display: block;
  line-height: 2;
}

/* Card */
.card-container {
  perspective: 1000px;
  width: 100%;
}

.card {
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border: 1px solid #111111;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0;
  margin: 0;

}

.card:hover,
.is-flipped {
  transform: rotateY(180deg);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.card-front {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  backface-visibility: hidden;
  text-align: center;
  padding: 0;
  color: var(--primary-color);
  top: 85px;
}


.card-back {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  backface-visibility: hidden;
  text-align: center;
  transform: rotateY(180deg);
}

.card-back .card-title {
  position: absolute;
  top: -80px;
}

.card-back .card-text {
  position: absolute;
  top: -50px;
  padding: 20px;
  font-size: 14px;
}

.card-back,
.card-back * {
  margin: 0;
  padding: 0;
}

.card-front .card-title- {
  margin: 0;
  position: relative;
  left: 19%;
  transform: translateX(-50%);
  width: 100%;
  color: var(--primary-color);
  top: 90px;
}

.card-text {
  padding: 0;
  margin: 0;
}



/* Aboutus */
.aboutus-heading {
  position: absolute;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  color: var(--primary-color);
  top: 50%;
}

.aboutus-card {
  background: var(--primary-lite-color);
  padding: 20px;
  margin: 20px 10px;
  min-height: 250px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.aboutus-card:hover {
  background-image: linear-gradient(to right top, #faeab1, #ecd292, #dfba75, #d2a25a, #c58940);
}

.aboutus-card:hover .aboutus-description {
  color: var(--secondary-background-color);
  transition: background-color 0.3s ease;
}


.aboutus-card:hover .aboutus-button {
  color: var(--primary-lite-color);
  transition: background-color 0.3s ease;
}

.aboutus-card:hover .aboutus-title {
  color: var(--primary-lite-color);
  transition: background-color 0.3s ease;
}

.aboutus-title {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.aboutus-description {
  color: var(--text-color);
  text-align: center;
}

.aboutus-button {
  border: none;
  background: none;
  text-decoration: underline;
  font-weight: bold;
  color: var(--primary-color);
}

.contact_image {
  width: 100%;
}

.contact_title {
  position: absolute;
  top: 40%;
  left: 25%;
  color: var(--secondary-color);
  display: block;
}

.contact_input {
  color: #757677;
  padding: 13px;
  background-color: #E4F1FF;
  border: none;
  outline: none;
  width: auto;
  font-size: 18px;
}

.contact_input:focus {
  border: 1px solid #c6dadf;
}

.team-name {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color)
}

.team-designation {
  font-size: 14px;
  color: var(--text-color)
}

.team-member-image {
  width: 200px;
  height: 230px;
  border-radius: 20px;
  object-fit: cover;
}


.team-carosal {
  background-color: var(--primary-lite-color);
  border-radius: 20px;
}

.team-card {
  margin: 20px;
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 20px;
  min-height: 430px;
}

.middle-card {
  width: 300px;
  height: 350px;
}


/* footer */

.footer {
  background: var(--footer-background) ;
  font-size: 14px;
  color: var(--primary-text);
}
.footer_icon{
  color: var(--primary-blue);
}
.footer h6 {
  color: var(--primary-green);
}

/* calculator table */
.table_background {
  background: linear-gradient(rgb(152, 189, 223), rgb(134, 209, 134)) !important;
}


/* service cards */

.serviceCard-item {
  border-radius: 6px;
  overflow: hidden;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
  padding: 4%;
}

/* .serviceCard-item-1 {
  background: linear-gradient(to top, rgba(72, 172, 238, 0.596) 35%, rgba(190, 233, 247, 0.445) 100%);
} */

.serviceCard-item-2 {
  background: linear-gradient(to top, rgba(192, 93, 231, 0.596) 35%, rgba(247, 190, 242, 0.445) 100%);
}

.serviceCard-item-3 {
  background: linear-gradient(to top, rgb(252, 229, 102) 35%, rgba(245, 238, 176, 0.445) 100%);
}

.serviceCard-item-4 {
  background: linear-gradient(to top, rgba(81, 241, 129, 0.596) 35%, rgba(188, 243, 190, 0.445) 100%);
}

.serviceCard-item-6 {
  background: linear-gradient(to top, rgba(241, 81, 161, 0.596) 35%, rgba(243, 188, 238, 0.445) 100%);
}

.serviceCard-item-5 {
  background: linear-gradient(to top, rgb(244, 248, 17) 35%, rgba(243, 250, 149, 0.616) 100%);
}

.serviceCard-item-1:hover {
  background: rgb(170, 204, 216);
  padding: 5%;
  align-items: start;
  height: 100%;
}

.serviceCard-item-2:hover {
  background: rgb(220, 174, 241);
  padding: 5%;
  align-items: start;
  height: 100%;
}

.serviceCard-item-3:hover {
  background: rgb(250, 230, 118);
  padding: 5%;
  align-items: start;
  height: 100%;
}

.serviceCard-item-4:hover {
  background: rgb(172, 243, 172);
  padding: 5%;
  align-items: start;
  height: 100%;
}

.serviceCard-item-6:hover {
  background: rgb(241, 174, 174);
  padding: 5%;
  align-items: start;
  height: 100%;
}

.serviceCard-item-5:hover {
  background: rgb(253, 250, 47);
  padding: 5%;
  align-items: start;
  height: 100%;
}
.serviceCard-item-title {
  font-size: 24px;
  text-align: center;
  text-wrap: wrap;
  color: var(--primary-green);
  font-family: "EB Garamond", serif;
}


.serviceCard-item .serviceCard-description {
  display: none;
  font-size: 14px;
  text-align: start;
  transition: opacity 0.3s ease;
}

.serviceCard-item:hover .serviceCard-description {
  display: block;
  color: var(--primary-text);
  transition: display 1s ease, color 0.5s ease;
}

.serviceCard-button {
  border: none;
  padding: 5px 20px;
  border-radius: 5px 20px;
  background: linear-gradient(to right, black 25%, rgba(73, 73, 73, 0.151) 75%);
  background-size: 100% 99%;
  background-position: right bottom;
  color: var(--white-color);
  cursor: pointer;
  transition: background-position 0.5s ease, color 0.5s ease;
  position: relative;
  z-index: 1;
  display: none;
}

.serviceCard-item:hover .serviceCard-button {
  display: flex;
}

.serviceCard-button:hover  {
  background: linear-gradient(to right, black 100%);
  background-size: 200% 100%;
  background-position: left bottom;
  color: white;
}

.serviceCard-item .serviceCard-icon {
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
}

.serviceCard-item:hover .serviceCard-icon {
  display: none;
}



@media (max-width: 720px) {

  /* home carousel */
  .carousel-image {
    width: 100%;
    height: 60vh;
  }

  /* contact */
  .contact_title {
    position: absolute;
    top: 40%;
    left: 25%;
    color: var(--secondary-color);
    display: block;
    background-color: linear-gradient(rgb(152, 189, 223), rgb(134, 209, 134));
  }
}

@media (max-width:450px) {

  /* Home carousel */
  .carousel-item.active .carousel-item-content .animated-text {
    font-size: 18px;
    justify-content: center;

  }

  .legal_information {
    height: auto;
    position: relative;
  }

  .legal_title {
    font-size: 20px;
  }

  .legal_content {
    font-size: 14px !important;
  }

  /* contact */
  .contact_title {
    position: absolute;
    align-items: center;
    left: 15%;
    color: var(--secondary-color);
    display: block;
    font-size: 20px;
  }

}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .centeredH1 {
    font-size: 28px;
  }

  .experience-heading {
    font-size: 28px;
  }

  .aboutus-heading {
    font-size: 28px;
  }
}


.hero-section .title,
.about-us .title{
  color: var(--primary-blue);
}

.hero-section .typing {
  color: var(--primary-green);
}

.hero-section .our-service,
.about-us .readmore{
  color: white;
  border-radius: 50px;
  border: 2px solid var(--primary-green) ;
  background-color: var(--primary-green);
  outline: none;
  padding: 5px 2%;
}

.hero-section .our-service:hover,
.about-us .readmore:hover{
  color: var(--primary-green);
  border-radius: 50px;
  border: 2px solid var(--primary-green) ;
  background-color: white;
  outline: none;
  padding: 5px 2%;
}

.hero-section .talk-button{
  color:white;
  border-radius: 50px;
  border: 2px solid var(--primary-blue) ;
  background-color: var(--primary-blue);
  outline: none;
  padding: 5px 2%;
}

.hero-section .talk-button:hover{
  color:white;
  border-radius: 50px;
  border: 2px solid var(--primary-green);
  background-color: var(--primary-green);
  outline: none;
  padding: 5px 2%;
}

.home .about-us{
  background-color: rgb(241, 241, 241)
}

